@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  background: radial-gradient(
    circle at 1.8% 4.8%,
    rgb(17, 23, 58) 0%,
    rgb(58, 85, 148) 90%
  );
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
