/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* background: radial-gradient(
    circle at 1.8% 4.8%,
    rgb(17, 23, 58) 0%,
    rgb(58, 85, 148) 90%
  ); */

  background: linear-gradient(to top, #09203f 0%, #537895 100%);

  background-size: cover;
  background-repeat: no-repeat;
}

.Toastify__toast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Toastify__toast {
  width: 80vw;
  max-width: 800px;
  min-height: 100px;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .Toastify__toast {
    width: 90vw;
    font-size: 1rem;
    padding: 1.5rem;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Helvetica Neue", Arial, sans-serif;
}
